<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="x" value="0" />
    <add key="y" value="0" />
    <add key="w" value="1000" />
    <add key="h" value="600" />
    <add key="website" value="http://10.170.128.54:8161/boat?modelid=489015" />
  </appSettings>
</configuration>