<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startPage" value="https://tst.bianxianmao.com/dist/newwheel/show/wheel12325.html?business=money-1&amp;appkey=64745fa3bd8c428ba7896efdc7286334&amp;uid=F91493869105D431788BB09FC728746F&amp;activityid=12325&amp;i=__IMEI__&amp;f=__IDFA__&amp;gettime=1516693345790&amp;from=groupmessage&amp;isappinstalled=0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>